.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-button {
  background: rgb(240, 58, 225);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}